$bg-1: #181818;
$bg-2: rgba(24, 24, 24, 0.8);

$separator-1: hsla(0, 0%, 100%, 0.64);

$text-1: #f4f4f4;
$text-2: hsla(0, 0%, 100%, .85);

$accent-1: rgb(255, 219, 77);

$default-box-shadow: 0 0 14px 0 rgb(0 0 0 / 16%);