$bg-1: #181818;
$bg-2: rgba(24, 24, 24, 0.8);

$separator-1: hsla(0, 0%, 100%, 0.64);
$separator-2: hsla(0, 0%, 100%, 0.8);

$text-1: #f4f4f4;
$text-2: #777;

$accent-1: rgb(255, 219, 77);

// чтобы можно было в случае чего переименовать переменную и заменить цвет везде
$white: #fff;