$laptop-screen-width: 1240px;

$default-box-shadow: 0 0 14px 0 rgb(0 0 0 / 16%);

$default-transition: 0.25s ease-in-out;
$fast-transition: 150ms ease-in-out;

$default-scale: scale(1.25);
$small-scale: scale(1.1);