@import "src/styles/mixins";
@import "src/styles/colors";
@import "src/styles/fonts";

.carousel-item {
  @include column-flex(10px);
  width: 210px;
  height: auto;
  padding: 10px;
  border-radius: 5px;

  &__cover-wrapper {

  }

  &__cover {
    &-items {
      @include center-flex(6px);
    }
  }

  &__description {
    @include column-flex(5px);

    &-title {
      @extend .title-1;
    }

    &-annotation {
      @extend .description-1;
      color: $text-2;
    }
  }
}